body {
  background-color: #d2b8ff63;
  font-family: Georgia, serif;
  color: #202020;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3 {
  color: #B20000;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

h1 {
  font-size: 20px;
}

a {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: none;
  line-height: 30px;
  display: block;

}

.link-social {
  color: #162c61;
  margin:0px;
  padding:10px;
}

a:hover {
  background-color: rgba(0,0,0,0.1);
}

i {
  font-size: 30px;
}

.profile {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  width: 650px;   /* This sets the width */
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.card {
  background-color: rgba(255,255,255,0.3);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.list-inline > li {
  display: inline-block;
}

.list-inline {
  padding-left: 0px;
}

/* sidebar */

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(30,30,30);
  padding-top: 80px;
}

.side-link {
  margin-left:60px;
}

.side-link > a {
  color: rgb(180,180,180);
  padding: 25px;
}

.side-link > a:hover {
  color: rgb(200,200,200);
  background-color: rgba(255,255,255,0.2);
}

#page-content {
  margin-left: 150px;
}

/* medias */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
  }

  #sidebar {
    width: 120px;
  }

  #page-content {
    margin-left: 120px;
  }

}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  #sidebar {
    width: 120px;
  }

  #page-content {
    margin-left: 120px;
  }

}
